USE master
GO
CREATE DATABASE ГАИ
GO

USE ГАИ
--Создание Сотрудник_ГАИ 
CREATE TABLE Инспектор_ГАИ(
	ID tinyint IDENTITY(1,1) NOT NULL,
	ФИО varchar(50),
	Пол varchar(1)check(пол = 'ж' or пол = 'м' ),
	Дата_рождения date,
	Пароль varchar(25),
	CONSTRAINT PK_Инспектор_ГАИ PRIMARY KEY (ID),
    CONSTRAINT Unique_ГАИ_пароль UNIQUE (Пароль)   
    )
GO
--Создание таблицы Гражданин 
CREATE TABLE Гражданин(
	ID tinyint IDENTITY(1,1) NOT NULL,
	ФИО char(50),
	Пол varchar(1)check(пол = 'ж' or пол = 'м' ),
	Дата_рождения date,
	Дата_получения_прав date,
	Номер_паспорта varchar(30),
	Моб_телефон varchar(50),
	CONSTRAINT PK_Гражданин PRIMARY KEY (ID),
	CONSTRAINT PK_Гражданин_тел UNIQUE (Моб_телефон),
    CONSTRAINT Unique_Гражданин_паспорт UNIQUE (Номер_паспорта)    
    )
GO
--Создание таблицы Раздел
CREATE TABLE Раздел(
	ID tinyint IDENTITY(1,1) NOT NULL,
	Название varchar(500),
    CONSTRAINT PK_Раздел PRIMARY KEY (ID),
    CONSTRAINT Unique_Раздел_название UNIQUE (Название)      
    )
GO
--Создание таблицы Статья
CREATE TABLE Статья(
	ID tinyint IDENTITY(1,1) NOT NULL,
	ID_раздел  tinyint,
	номер_статьи varchar(7),
	Название varchar(1000),
	Описание varchar(1000),
	минимальный_штраф decimal(18, 0),
	максимальный_штраф decimal(18, 0), 
	CONSTRAINT PK_Статья PRIMARY KEY (ID),
    CONSTRAINT FK_Раздел FOREIGN KEY (ID_раздел)
			REFERENCES Раздел(ID),   
	--CONSTRAINT Название UNIQUE (Название)
    )
GO
--Создание таблицы протокол
CREATE TABLE Протокол(
	ID tinyint IDENTITY(1,1) NOT NULL,
	--ID_Инспекор_ГАИ tinyint,
	ID_Гражданина tinyint,
	ID_Статьи tinyint,
	Дата_и_время_нарушения DATETIME,
	Сумма_штрафа decimal(18, 0)
	CONSTRAINT PK_Протокол PRIMARY KEY (ID),
	--CONSTRAINT FK_Инспектор_ГАИ FOREIGN KEY (ID_Инспекор_ГАИ)
	--	REFERENCES Инспектор_ГАИ(ID),
	CONSTRAINT FK_Статьи FOREIGN KEY (ID_Статьи)
		REFERENCES Статья(ID)  
)
GO
     
GO
INSERT INTO Протокол
     VALUES
     (1, 1, '2020-01-01',54),
     (2, 2, '2020-02-02',270),
     (3, 3, '2020-02-23',27),
     (4, 16, '2019-09-15',0),
     (5, 12, '2020-01-01',81),
     (6, 18, '2018-08-15',270),
     (7, 7, '2020-10-10',675),
     (8, 14, '2016-12-04',1350),
     (1, 1, '2018-05-17',270),
     (1, 16, '2020-01-15',0),
     (11, 2, '2019-10-17',81),
     (12, 13, '2020-11-13',108),
     (13, 1, '2018-02-14',27),
     (14, 16, '2017-04-14',0)
     GO
CREATE VIEW Список_Нарушений AS
SELECT     dbo.Протокол.ID, dbo.Протокол.Дата_и_время_нарушения AS Дата, dbo.Протокол.Сумма_штрафа AS [Штраф (руб)], dbo.Гражданин.ID AS ГражданинID, 
                      dbo.Гражданин.ФИО AS [ФИО гражданина], dbo.Гражданин.Номер_паспорта AS Паспорт, dbo.Раздел.Название AS Раздел, dbo.Статья.номер_статьи AS Статья,
                       dbo.Статья.Название, dbo.Статья.Описание
FROM         dbo.Протокол INNER JOIN
                      dbo.Статья ON dbo.Протокол.ID_Статьи = dbo.Статья.ID INNER JOIN
                      dbo.Гражданин ON dbo.Протокол.ID_Гражданина = dbo.Гражданин.ID INNER JOIN
                      dbo.Раздел ON dbo.Статья.ID_раздел = dbo.Раздел.ID
GO
CREATE VIEW Список_статей AS
SELECT     ID, номер_статьи + ', ' + Описание AS статейка
FROM         dbo.Статья
GO